{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}|Gestion des catégories
{% endblock title %}

{% block h1 %}
    Gestion des catégories
{% endblock h1 %}

{% block body %}

<div class="row justify-content-end m-2">
    <a class="btn btn-success p-2 col-md-3" href="{{ path('category_ajouter') }}">Ajouter une catégorie</a>
</div>
{% if categories %} ...
{% else %}
<h4 class="text-center mt-4 text-danger">
    Il n'y a aucune catégorie pour le moment
</h4>


{% endif %}
    
{% endblock body %}